---
apiVersion: tsb.tetrate.io/v2
kind: Workspace
metadata:
  name: bookinfo
  namespace: gitops
  annotations:
    tsb.tetrate.io/organization: tetrate
    tsb.tetrate.io/tenant: default
spec:
  namespaceSelector:
    names:
      - "corp-edge/bookinfo"
      - "west-cluster/bookinfo"
---      
apiVersion: tsb.tetrate.io/v2
kind: WorkspaceSetting
metadata:
  name: bookinfo-ws-setting
  namespace: gitops
  annotations:
    tsb.tetrate.io/organization: tetrate
    tsb.tetrate.io/tenant: default
    tsb.tetrate.io/workspace: bookinfo
spec:
  defaultEastWestGatewaySettings:
    - workloadSelector:
        namespace: tetrate-system
        labels:
          app: east-west-gateway
      exposedServices:
        - serviceLabels:
            app: details
---
apiVersion: gateway.tsb.tetrate.io/v2
kind: Group
metadata:
  name: bookinfo-gg
  namespace: gitops  
  annotations:
    tsb.tetrate.io/organization: tetrate
    tsb.tetrate.io/tenant: default
    tsb.tetrate.io/workspace: bookinfo
spec:
  namespaceSelector:
    names:
      - "corp-edge/bookinfo"
---
apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: bookinfo-gateway
  namespace: gitops
  labels:
    istio.io/rev: tsb
  annotations:
    tsb.tetrate.io/organization: tetrate
    tsb.tetrate.io/tenant: tetrate
    tsb.tetrate.io/workspace: bookinfo
    tsb.tetrate.io/gatewayGroup: bookinfo-gg
spec:
  selector:
    app: bookinfo-gw
  servers:
    - hosts:
        - "bookinfo.tetrate.io"
      port:
        number: 80
        name: http
        protocol: HTTP