---
apiVersion: tsb.tetrate.io/v2
kind: Workspace
metadata:
  name: bookinfo
  namespace: gitops
  annotations:
    tsb.tetrate.io/organization: tetrate
    tsb.tetrate.io/tenant: default
spec:
  namespaceSelector:
    names:
      - "corp-edge/bookinfo"
      - "west-cluster/bookinfo"
---      
apiVersion: tsb.tetrate.io/v2
kind: WorkspaceSetting
metadata:
  name: bookinfo-ws-setting
  namespace: gitops
  annotations:
    tsb.tetrate.io/organization: tetrate
    tsb.tetrate.io/tenant: default
    tsb.tetrate.io/workspace: bookinfo
spec:
  defaultEastWestGatewaySettings:
    - workloadSelector:
        namespace: tetrate-system
        labels:
          app: details
---          