---
apiVersion: tsb.tetrate.io/v2
kind: Workspace
metadata:
  name: bookinfo
  namespace: gitops
  annotations:
    tsb.tetrate.io/organization: tetrate
    tsb.tetrate.io/tenant: default
spec:
  namespaceSelector:
    names:
      - "corp-edge/bookinfo"
      - "west-cluster/bookinfo"
---      